body {
    background: url(images/crayonbackground.jpg);
}

#content{
    background:#476ad1;
    width: 70%;
    margin: auto;
    padding: 0 5px;
}

h1{
    color: #BFA9F5;
    font-style: bold;
}

h2{
    color: #F5EFA9;
}

p{
    color: white;
}

table{
    border-collapse: collapse;
}

th,
td{
    border: 1px solid #276753;
    padding: 4px;
}
th{
    background: #485092;
}