body {
    background:#7EAEFA;
}

h1{
    color: #8944F9;
    font-style: bold;
}

h2{
    color: blanchedalmond;
}

table{
    border-collapse: collapse;
}

th,
td{
    border: 1px solid #276753;
    padding: 4px;
}
th{
    background: #485092;
}