body {
    font-family: "Courier New", "Times New Roman", monospace;
    background: url(images/crayonbackground2.jpg);
}

#content{
    background:#476ad1;
    width: 70%;
    margin: auto;
    padding: 5 50px;
    border-radius: 5px;
}

h1{
    color: #BFA9F5;
    font-style: bold;
}

h2{
    color: #F5EFA9;
}

p{
    color: white;
}

table{
    border-collapse: collapse;
}

th,
td{
    border: 1px solid #F5EFA9;
    padding: 4px;
}
th{
    background: #BFA9F5;
}