:root{
    --caption-text: #7a1f1f;
    --background-edges: #370e0e;
    --caption-background: #f4e9e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    color: var(--caption-background);
    background: var(--background-edges);
}

#content{
    background-image: url("images/ai-background-darker.png");
    width: 80%;
    margin: auto;
    object-fit:contain;
}

#main-header {
    background: url("images/ai-hallway-portraits.jpeg");
    height: 280px;
    object-position: center bottom;
    position: relative;
}

.overlay {
    background: rgba(0,0,0,0.5);
    height: 100%;
    text-align: center;
    padding-top: 40px;
}

.overlay h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

#gallery{
    justify-content: center;
    padding: 30px;
}

#gallery section {
    width: 370px;
    border-radius: 20px;
    overflow: hidden;
    background: var(--caption-background);
    color: var(--caption-text);
    text-align: center;
    margin: 20px;
}

#gallery img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center top;
}

#gallery a{
    text-decoration: none;
    color: var(--caption-text);
}

.label {
    padding-top: 0;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

#intro {
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 40px;
    padding: 40px 80px 80px;
}

#intro img {
    width: 100%;
    border-radius: 20px;
}

#intro-text {
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
}

#endorsement {
    margin-top: 40px;
    font-style: italic;
}

@media (min-width: 768px){
    .columns{
        display: flex;
    }

    #intro{
        display: grid;
    }
    nav ul{
        display: inline-flex;
    }
}

@media(max-width: 1200px){
    #content{
        width: 100%;
    }

    .columns{
        justify-content: center;
    }

    #intro{
        padding: 20px;
    }
}

@media (max-width: 768px){

    .columns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display:grid;
    }
    #intro img{
        margin: 10px 0px;

    }
}