:root{
    --caption-text: #7a1f1f;
    --background-edges: #370e0e;
    --caption-background: #f4e9e9;
}

#main-header{
    text-align:center;
}

#gallery1{
    width: 95%;
    margin: auto;
}

#gallery1 section {
    border-radius: 20px;
    overflow: hidden;
    background: var(--caption-background);
    color: var(--caption-text);
    text-align: center;
    margin: 10px;
    max-height: 230px;
    position:relative;
}

#gallery1 a{
    color:(var(--caption-text));
}

body h2{
    color:(var(--caption-background));
    margin-left:4%;
}

.label{
    position:absolute;
    bottom: 0;
    left: 0;
    box-sizing:border-box;
    background:var(--caption-background);
    text-align: center;
    width:100%;
    margin: auto;
    align-items:center;
    padding-top:5px;
}

#gallery1 img{
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}
