:root{
    --caption-text: #7a1f1f;
    --background-edges: #370e0e;
    --caption-background: #f4e9e9;
}

#main-header{
    text-align:center;
}

#gallery1{
    width: 95%;
    margin: auto;
}

#gallery1 section {
    border-radius: 20px;
    overflow: hidden;
    background: var(--caption-background);
    color: var(--caption-text);
    text-align: center;
    margin: 10px;
    max-height: 300px;
}

#james img{
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}