body{
    background: #E0BB55;
    text-align: center;
}

body h1{
    color:#793849;
}

body h3{
    color:#793849;
}

body p{
    color:#793849;
}

body a{
    text-decoration: none;
    color:#793849;
}

body button{
    background: transparent;
    color: #793849;
    border: transparent;
}

#e1, #e2{
    width: 95%;
    background: #5575E0;
    margin: auto;
    padding: 10px;
    color: white;
}

#e1 p, #e2 p{
    color: white;
}

#e2 h3{
    color: #E0BB55;
}

.slider-container {
    width: 150px;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    width: 100%;
}

.value-display {
    font-size: large;
    margin-top: 10px;
}

.hidden{
    display: none;
}
