.triangle{
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid #EDE89A;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.triangle.see{
    display: block;
}

.frame{
    border: 5px solid red;
}

#main{
    background: #EDE89A;
    text-align: center;
}

#main h1{
    color:#9F87D0;
}

#main h3{
    color: #9F87D0;
}

#main p{
    color: #9F87D0;
}

#gallery{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    justify-content:center;
}

#gallery section{
    background: #A0AEE6;
    margin: 30px;
    width: 400px;
    height: 180px;
    border: 1px solid #405399;
}

#gallery img{
    margin: auto;
    padding-top: 0;
}

#gallery h4{
    color: #405399;
    padding-bottom: 0;
}

#gallery p{
    color: #405399;
}

@media (min-width: 768px){
    .columns{
        display:flex;
    }
}

@media (max-width: 768px){
    .columns{
        display:flex;
        flex-direction: column;
    }
}