#main{
    background: #EDE89A;
    text-align: center;
}

#main h1{
    color:#9F87D0;
}

#main h3{
    color: #9F87D0;
}

#main p{
    color: #9F87D0;
}

#gallery{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    justify-content:center;
}

#gallery section{
    background: #A0AEE6;
    margin: 40px;
    padding-top:8px;
    padding-bottom: 100px;
    padding-left:40px;
    padding-right: 40px;
    border: 1px solid #405399;
}

#gallery h4{
    color: #405399;
}

@media (min-width: 768px){
    .columns{
        display:flex;
    }
}