/* Main Structure */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #8FABD4;
}

#main-content{
    width: 80%;
    margin: auto;
    padding: 5px 10px;
}

#main-header{
    background: #EFECE3;

}

#content{

}

#gallery section{
    background: lightgrey;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#gallery section h3{
    text-align: center;
}

#main-footer{

}
/* Navigation */

#main-nav ul{
    padding-left:0; /* Remove indentation */
}

#main-nav li{
    list-style-type:none; /* Remove bullet */
    background: #4A70A9;
    padding: 5px;
    border-bottom: 1px solid #8FABD4;
}

#main-nav a{
    text-decoration: none; /* Remove underline */
}


/* Typography */
#main-header h1{
    text-align: center;
    padding-top: 10px;
}
/* larger devices */
@media (min-width: 768px){
    .columns{
        display:flex;
    }

    .one{
        flex:1;
    }

    .two{
        flex:2;
    }

    .three{
        flex:3;
    }

    .four{
        flex:4;
    }

    #main-nav ul {
        display: flex;
    }

    #main-nav li{
        background: transparent;
    }

    #main-nav a{
        color: #4A70A9;
        border-bottom: 1px solid transparent;
    }

    #main-nav a:hover{
        border-bottom: 1px solid #4A70A9;
    }
}