body{
    font-family: "Courier New", "Times New Roman", monospace;
    background: #B9C0DC;
}

#content{
    width: 70%;
    margin:auto;
    padding: 8px 15px;
    background:#478F52;
    border-radius: 5px;
}

#main-content{
    padding: 0px 6px;
}

h1, h2{
    color: #BAC7FF;
}

p{
    color:white;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:#B9C0DC;
}

ol{
    color: white;
}

#gallery{
    width: 70%;
}

#gallery section{
    background-color:#B9C0DC;
    color:#478F52;
    padding: 8px 8px;
    margin: 5px;
}

#gallery p{
    color: black;
}

#projects{
    background-color:#B9C0DC;
    color:#478F52;
    padding: 8px;
    margin: 5px;
}

#projects p{
    color: black;
}

#projects h3{
    text-align: center;
}

@media (min-width: 768px){
    .columns{
        display:flex;
    }

    .one{
        flex:1;
    }

    .two{
        flex:2;
    }

    .three{
        flex:3;
    }

}

@media (max-width: 766px){
    .columns {
        display:flex;    
        flex-direction: column; 
    }
}