body{
    font-family: "Courier New", "Times New Roman", monospace;
    background: #B9C0DC;
}

#content{
    width: 70%;
    margin:auto;
    padding: 8px 15px;
    background:#478F52;
    border-radius: 5px;
}

h1, h2{
    color: #BAC7FF;
}

p{
    color:white;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:#B9C0DC;
}

ol{
    color: white;
}

#gallery section{
    background-color:#BAC7FF;
    color:#478F52;
}