body{
    font-family: "Courier New", "Times New Roman", monospace;
    background: #B9C0DC;
}

#content{
    width: 70%;
    margin:auto;
    padding: 5px;
    background:#478F52;
}

h1, h2{
    color: #90A1E0;
}

p{
    color:white;
}

a{
    color: white;
    text-decoration: none;
}

ol{
    color: white;
}