#main-header{
    background: black;
    color: white;
    margin-top:0;
}

#top{
    margin: 0% 10%;
}

#top img{
    padding-top: 20px;
}

#top h6{
    margin-bottom: 0;
}

#secondary-nav ul{
    padding-left:0;
    padding-top:3px;
    margin: 0% 10%;
    margin-bottom: 0;
}

#secondary-nav li{
    font-size:x-small;
    list-style-type:none;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#secondary-nav a{
    text-decoration: none;
    color: white;
}

#top h2{
    font-family:"'Times New Roman', Times, serif";
    font-size:xx-large;
    margin-top:0;
    margin-bottom: 0;
}

#main-nav{
    background: #760009;
    padding-left:45%;
    margin-bottom: 0;
}

#main-nav ul{
    padding-left:0;
}

#main-nav li{
    font-size:large;
    list-style-type: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    padding-top:15px;
    padding-bottom: 10px;
    padding-right: 40px;
}

#main-nav a{
    text-decoration: none;
    color: white;
}

#content img{
    margin-top:0;
}

#content{
    padding: 0;
}

#content h2{
    width: 50%;
    margin: auto;
    padding: 40px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 140%;
}


@media (min-width: 768px){
    .columns{
        display:flex;
        flex-wrap: wrap;
    }

    .one{
        flex:1;
    }

    .two{
        flex:2;
    }

    .three{
        flex:3;
    }

    .four{
        flex:4;
    }
    
    .five{
        flex:5;
    }

    .six{
        flex:6;
    }

    .seven{
        flex:7;
    }

    .eight{
        flex:8;
    }

    .nine{
        flex:9;
    }
    
    .ten{
        flex:10;
    }

    #secondary-nav ul{
        display: flex;
    }

    #main-nav ul{
        display: flex;
    }
}