.text{
    background: #760009;
    color: white;
    padding: 10px 40px;
    padding-bottom: 40px;
    line-height: 1.5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav{
    position: fixed;
    top: 0%;
    left: .48%;
    right: .48%;
    z-index: 99999;
}

#padding{
    background: black;
    color: black;
    padding: 50px;
}

#education{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-15%, 355%);
}

#opportunities{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-89%, 895%);
}

#cai{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-215%, 1295%)
}

.text a{
    background: black;
    color: white;
    border: 2px solid white;
    padding: 15px;
    margin-left: 0;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main-header{
    background: black;
    color: white;
    margin-top:0;
}

#top{
    margin: 0% 10%;
}

#top img{
    padding-top: 20px;
}

#top h6{
    margin-bottom: 0;
}

#secondary-nav ul{
    padding-left:0;
    padding-top:3px;
    margin: 0% 10%;
    margin-bottom: 0;
}

#secondary-nav li{
    font-size:x-small;
    list-style-type:none;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#secondary-nav a{
    text-decoration: none;
    color: white;
}

#top h2{
    font-family:"'Times New Roman', Times, serif";
    font-size:xx-large;
    margin-top:0;
    margin-bottom: 0;
}

#main-nav{
    background: #760009;
    padding-left:45%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#main-nav ul{
    padding-left:0;
}

#main-nav li{
    font-size:large;
    list-style-type: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    padding-top:15px;
    padding-bottom: 10px;
    padding-right: 40px;
}

#main-nav a{
    text-decoration: none;
    color: white;
}

#content img{
    margin-top:0;
}

#content{
    padding: 0;
    margin: 0;
}

#special-p h2{
    width: 60%;
    margin: auto;
    padding: 40px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 140%;
}

#quote{
    width: 65%;
    margin: auto;
    padding: 100px 0px;
    line-height: 1.5;
}

#quote h2{
    color:#760009;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 25px 40px;
    padding-bottom: 0;
}

#quote h5{
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 0;
    padding-left: 40px;
}

#gallery{
    width: 75%;
    margin:auto;
    padding-top: 70px;
    justify-content: center;
    padding-bottom: 40px;
}

#gallery h2{
    color:#760009;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 0;

}

#gallery a{
    text-decoration: none;
}

#gallery p{
    color: black;
}

#gallery section{
    white-space: normal;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#contact{
    text-align: center;
    background: #EDEDED;
    margin-top: 70px;
    padding-left: 5%;
    padding-right: 5%;
}

#contact h1{
    font-size: 300%;
    color:#760009;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 50px;
}

#contact p{
    font-family: Arial, Helvetica, sans-serif;
}

#links a{
    background:#760009;
    color: white;
    border: 2px solid white;
    padding: 15px;
    margin-left: 0;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 25px;
}

#links{
    width: 60%;
    margin-left: 28%;
}

#bottom{
    padding-left: 10%;
    padding-right: 10%;
    background:#760009;
    margin-bottom: 0;
    padding-bottom: 40px;
}

#bottom h3{
    color: white;
    padding-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bottom hr{
    line-height: 1;
    padding-top: 0;
}

#bottom h4{
    color:#760009;
    font-size: 96%;
}

#more-contacts{
    padding-bottom: 20px;
    padding-top: 20px;
}

#more-contacts h2{
    color:#760009;
}

#more-contacts ul{
    padding-left: 10px;
    text-align: left;
}

#more-contacts li{
    list-style-type: none;
    background: transparent;
    color:#760009;
    border: 0px;
}

#more-contacts a{
    list-style-type: none;
    background: transparent;
    color:#760009;
    border: 0px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2;
}

#special-button a{
    text-decoration: none;
    background: black;
    border: 2px solid white;
    padding: 10px;
    color: white;
    margin-right: 30px;
    margin-top: 0px;
}

#more-contacts h6{
    color:#760009;
    text-decoration:underline;
    text-align: left;
    font-size: smaller;
    padding: 0px 20px;
    margin-bottom: 8px;
    line-height: 1.5;
}

#more-contacts p{
    text-align: left;
    font-size: smaller;
    padding: 0px 20px;
    margin-top: 4px;
}

#bottom-logo{
    color: white;
    padding-top: 10px
}

#bottom-logo h1{
    margin-top: 0px;
    font-size: 250%;
}

#bottom-logo h6{
    margin-bottom: 0px;
    font-size: 87%;
}

#bottom-logo img{
    padding-top: 31px;
}

#resources ul{
    padding-left: 0;
}

#resources a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 2;
}

#resources li{
    list-style-type: none;
    font-size: small;
    font-weight: bolder;
    text-align: left;
}

.section.break{
    padding-left: 0px;
}

#way-bottom{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
    background: black;
    margin-top: 1px;
}

#way-bottom ul{
    padding-left: 0;
}

#way-bottom li{
    list-style-type: none;
    font-size:small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 15px 5px;
}

#way-bottom a{
    color: white;
    text-decoration: none;
}

#main-footer{
    padding: 0;
}

@media (min-width: 768px){
    .columns{
        display:flex;
        flex-wrap: wrap;
    }

    .one{
        flex:1;
    }

    .one-break{
        flex:1;
        padding-right:20px;
    }

    .one-line{
        flex:1;
        border-left: 1px solid 
    }

    .two{
        flex:2;
    }

    .three{
        flex:3;
    }

    .four{
        flex:4;
    }
    
    .five{
        flex:5;
    }

    .six{
        flex:6;
    }

    .seven{
        flex:7;
    }

    .eight{
        flex:8;
    }

    .nine{
        flex:9;
    }
    
    .ten{
        flex:10;
    }

    #secondary-nav ul{
        display: flex;
    }

    #main-nav ul{
        display: flex;
    }

    #way-bottom ul{
        display: flex;
    }
}

@media (max-width: 766px){
    .columns {
        display:flex;    
        flex-direction: column;
        justify-content:center;
    }
}