body{
    font-family: Arial, Helvetica, sans-serif;
    background: #8FABD4;
}

#content{
    width: 80%;
    margin: auto;
    padding: 5px 10px;
    background: #EFECE3;
}

#main-header h1{
    color:#4A70A9;
    text-align: center;
}

#main-nav ul{
    padding-left:0;
}

#main-nav li{
    list-style-type: none;
    background: #4A70A9;
    border-width:1px;
    border-color:#EFECE3;
    padding: 5px;
    border-width: 1px solid #8FABD4;
    width: 80%;
    text-align: center;
}

#main-nav a{
    text-decoration: none;
    color: #EFECE3;
}

#gallery p{
    color:#4A70A9;
}

#gallery section h3{
    color: #EFECE3;
    background-color: #4A70A9;
    text-align: center;
    padding: 3px;
}

#first-row, #third-row{
    padding: 0% 20%;
    margin: auto;
    background:#4A70A9;
    color: #EFECE3;
}

#second-row{
    padding: 0% 20%;
    margin: auto;
    background: #8FABD4;
    color: #000000;
}

#first-row section p{
    padding: 5px;
}

#main-footer{
    background:#8FABD4;
    color:#000000;
}

@media (min-width: 768px){
    .columns{
        display:flex;
    }

    .one{
        flex:1;
    }

    .two{
        flex:2;
    }

    .three{
        flex:3;
    }

    .four{
        flex:4;
    }

    #main-nav ul{
        display: flex;
    }

    #main-nav a:hover{
        border-bottom: 1px solid #EFECE3;
    }
}