body{
    font-family: Arial, Helvetica, sans-serif;
    background: #8FABD4;
}

#content{
    width: 80%;
    margin: auto;
    padding: 5px 10px;
}

#main-header{
    background: #EFECE3;
}

#main-nav ul{
    padding-left:0;
}

#main-nav li{
    list-style-type: none;
    background: #4A70A9;
    padding: 5px;
    border-bottom: 1px solid #8FABD4;
    width: 80%;
}

#main-nav a{
    text-decoration: none;
    color: #EFECE3;
}

#gallery{
    padding-left: 50%;
}

@media (min-width: 768px){
    .columns{
        display:flex;
    }

    .one{
        flex:1;
    }

    .two{
        flex:2;
    }

    .three{
        flex:3;
    }

    #main-nav ul{
        display: flex;
    }

    #main-nav a:hover{
        border-bottom: 1px solid #EFECE3;
    }
}