body{
    text-align: center;
    background: #6B82DC;
    color: #37457D;
}

#grey-zone{
    position: fixed;
    z-index:400000;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#songs section{
    position: relative;
    z-index: 300000;
    background: #37457D;
    color: white;
    text-align: center;
    margin: 15px;
}

#songs a{
    text-decoration: none;
    color: white;
}

#songs img{
    width: 100%;
}

#modal-text{
    background: #37457D;
    color: white;
    padding: 5px;
}

#modal{
    position: relative;
    transform: translate(0%, -200%);
    width: 50%;
    margin: auto;
    height: 200px;
    z-index: 500000;
}

.x{
    position: absolute;
    font-size:150%;
    top:0;
    right:5px;
}

@media(min-width: 768px){
    .columns{
        display: flex;
    }
    .one{
        flex:1;
    }
    .two{
        flex:2;
    }
    .three{
        flex:3;
    }
}